/LibreriaImagenes/ImageReaderAll/target/
/XML/target/
/PracticaGestion/dist/
/PracticaGestion - copia/build/
/PracticaGestion - copia/nbproject/private/
/PracticaGestion Parte1/build/
/PracticaGestion Parte1/dist/